{% extends 'base.html' %}

{% block title %}Signup{% endblock %}

{% block content %}
<h1>
	This is a signup page
</h1>
<form method="POST" class="card w-50 p-5 shadow mx-auto">
	<!-- {{ form.errors }} -->
	{% csrf_token %}
	<!-- {{ form.as_p }} -->
	  <label for="username">Username</label>
	  <input type="text" class="form-control p-2 mb-2" name="username">
	  {% if form.username.errors %}
	  <span class="text-danger mb-2">{{ form.username.errors }}</span>
	  {% endif %}
	  <label for="password">Password</label>
	  <input type="password" class="form-control p-2 mb-2" name="password1">
	  {% if form.password1.errors %}
	  <span class="text-danger mb-2">{{ form.password1.errors }}</span>
	  {% endif %}
	  <label for="confirm_password">Confirm Password</label>
	  <input type="password" class="form-control p-2 mb-2" name="password2">
	  {% if form.password2.errors %}
	  <div class="text-danger mb-5">{{ form.password2.errors }}</div>
	  {% endif %}
	<button type="submit" class="btn btn-primary">Register</button>

	<p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
</form>
{% endblock %}